SHOPIFY_WEB_THEME=theme2
SHOPIFY_WEB_STATIC_CACHE_SECONDS=3600
SHOPIFY_CUSTOMER_IMPORT_TEMP_DIRECTORY=REPLACE_WITH_WRITABLE_TEMP_DIRECTORY
SHOPIFY_CUSTOMER_IMPORT_BACKEND_BASE_URL=REPLACE_WITH_SHOPIFY_MARKETING_URL
SHOPIFY_CUSTOMER_IMPORT_ALLOWED_BACKEND_HOSTS=REPLACE_WITH_COMMA_SEPARATED_HOSTS
